@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Chakra Petch';
    color:black;
}

.menu {
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color:gray;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    
}

.container{
    margin-left: 550px;
    padding: 20px 25px;
    width: 300px;
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    margin-top: 150px;
    margin-bottom: 150px;
}
.container h1{
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
}
.container label{
    text-align: left;
    color: #90caf9;
}
.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}
.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}

.tbl-biru {
    background: black;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white; ;
    cursor: pointer;
    font-weight: bold;
}

.tbl-biru:hover {
    background: black;
    text-decoration: none;
}

a{
    color: #eaeaea;
    text-decoration: none;
}

.linklogin li{
    list-style-type: none;
    padding: 10px;
    font-size: x-small;
    text-align: right;
}

.linklogin li a{
    display: inline-block;
    transition: all .5s ease 0s;
}
li a:hover{
    color: rgb(151, 151, 151);
}

#contact {
    background: black;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'poppins';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
    color: #FFFFFF;
    line-height: 50px;
}

.footer-section .logofooter  {
    font-family: 'Chakra Petch';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    width: 100%;
    color: #FFFFFF;
    line-height: 50px;
}

.footer-section p{
    color: white;

}

.footer-section a{
    color: white;
}

.footer-section a:hover {
    color: gray;
}

.copyright {
    text-align: center;
    width: 100%;
    padding: 25px 0px 25px 0px;
    margin-top: 0px;
}

@media(max-width:1250px){
    .menu{
        width: 300px;
    }
}

@media(max-width:1250px){
    .home{
        width: 300px;
    }
}

@media(max-width:1250px){
    .tutors{
        width: 300px;
    }
}

@media(max-width:1250px){
    .mengerikan{
        width: 300px;
    }
}

@media(max-width:1250px){
    .fiturs{
        width: 300px;
    }
}

@media(max-width:1250px){
    .contact{
        width: 300px;
    }
}

@media(max-width:1250px){
    .footer-section{
        width: 300px;
    }
}  

@media(max-width:1250px){
    .wrapper{
        width: 300px;
    }
}  

@media(max-width:1250px){
    .copyright{
        width: 300px;
    }
}  




